:host {
    align-items: center;
    box-shadow: 0 0 1px 1px rgb(33 41 63 / 10%);
    display: flex;
    flex-direction: row;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: sticky;
    top: 0;
}

.search {
    margin-left: 30px;
}

.search-input {
    appearance: none;
    background: #f2f2f3;
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding: 0 15px;
    width: 225px;
}

.main-menu {
    margin-left: 30px;
}

.menu {
    list-style: none;
    margin: 0;
}

.menu a {
    color: #1e1e1e;
    padding-bottom: 30px;
    text-decoration: none;
}

.menu .active {
    font-weight: 600;
}