<div class="container mt-5">

    <div class="row justify-content-center mb-3">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Info</a>
                <a href="#" class="list-group-item list-group-item-action">Media</a>
                <a href="#" class="list-group-item list-group-item-action">Creators</a>
                <a href="#" class="list-group-item list-group-item-action">Additional Info</a>
            </div>
        </div>
        <div class="col-6">
            <smart-input label="Name of the product" value.bind="productName"></smart-input>
        </div>
    </div>

</div>