<import from="./submission-components/step-1"></import>
<import from="./submission-components/step-2"></import>

<div class="container mt-5">

    <div class="row justify-content-center mb-3">
        <div class="col-3">
            <div class="list-group">
                <let sections.bind="['Info', 'Media', 'Creators', 'Additional Info']"></let>

                <a href="#" repeat.for="section of sections" click.trigger="setSection($index + 1)" class="list-group-item list-group-item-action ${currentSection == $index + 1 ? 'active' : ''}" aria-current.bind="currentSection == $index + 1 ? true : ''" aria-current="true">${section}</a>
            </div>
        </div>
        <div class="col-6">
            <step-1 if.bind="currentSection == 1" product-name.bind="productName"></step-1>
            <step-2 if.bind="currentSection == 2" product-name.bind="productName"></step-2>
        </div>
    </div>

</div>