<div class="container mt-5">

    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="h3">Login</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 product" repeat.for="product of products">
            <div class="row mb-3">
                <div class="col-4">
                    <img class="img-fluid" src.bind="product.featured_media_src">
                </div>
                <div class="col-8">
                    <h2 class="product-title h4"><a load="products/${product.slug}" title.bind="product.title.rendered">${product.title.rendered}</a></h2>
                </div>
            </div>
        </div>

    </div>

</div>