<div class="container d-flex text-center align-items-center mt-5">

    <form class="login m-auto w-100" submit.trigger="login()">
        <h1 class="h3 mb-3 fw-normal">Welcome home</h1>

        <div class="form-floating">
            <input type="email" class="form-control" value.bind="email" id="loginInput" placeholder="someemail@demo.com">
            <label for="loginInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" value.bind="password" id="loginPassword" placeholder="Password">
            <label for="loginPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>

</div>