.user-bg {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);    
    color: #FFF;
    height: 240px;
    padding: 32px 0;
}

.user-avatar {
    margin-right: 25px;
}

.user-avatar img {
    border: 2px solid #FFF;
}