nav {
  background: #eee;
  display: flex;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: darkgray;
}

.active {
  background-color: lightgray;
}

:host,
.viewport {
  display: block;
  margin: 0;
  min-height: 100%;
  min-width: 320px;
  padding: 0;
}